@import "tailwindcss";

@theme {
    --color-primary: #CAB767;
    --color-primary-gradient: rgba(227, 194, 45, 1);
}

* {
    font-family: "Montserrat", sans-serif;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


}

.clip-diagonal {
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

@media (max-width: 767px) {
    .clip-diagonal {
        clip-path: none;
    }
}

.zigzag-underline {
    display: inline;
    background-image:
        repeating-linear-gradient(-45deg,
            transparent 0,
            transparent 3px,
            #000 3px,
            #000 6px),
        repeating-linear-gradient(45deg,
            transparent 0,
            transparent 3px,
            #000 3px,
            #000 6px);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position: 0 100%, 0 calc(100% + 4px);
    padding-bottom: 8px;
}

.zig-zag-line {
    --a: 90deg;
    /* control the angle */
    --s: 20px;
    /* size of the zig-zag */
    --b: 2px;
    /* control the thickness */

    background: #180600;
    height: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
    width: 100%;
    --_g: var(--s) repeat-x conic-gradient(from calc(var(--a)/-2) at bottom,
            #0000, #000 1deg calc(var(--a) - 1deg), #0000 var(--a));
    mask: 50% calc(-1*var(--b))/var(--_g) exclude, 50%/var(--_g);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

.loader {
    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left/20% 100%;
    background: linear-gradient(var(--color-primary-gradient) 0 0) left -25% top 0 /20% 100% no-repeat #ddd;
    animation: l7 1s infinite steps(6);
}

@keyframes l7 {
    100% {
        background-position: right -25% top 0;
    }
}